<footer id="footer" class="footer">

    <div class="scrollup">
      <i class="arrow-up"></i>
    </div>

    <div class="container flex">
        <div class="wrap-footer flex flex-wrap">

            <div class="col-12 flex">
                <div class="col-12 sm-col-6 flex">
                    <img style="width: 4rem" src="https://www.hexhealthcare.com/images/logo/logo.svg" alt="HexTransforma" class="footer" />
                </div>
            </div>

            <div class="col-12 flex flex-wrap">
                <div class="copyright col-12 sm-col-6 flex items-end">
                    <small class="col-12 my2">
                        Copyright 2020 HexTransforma Healthcare Ltd.<br />
                        HexTransforma Healthcare Ltd is registered as a private company <br />
                        in England & Wales No. 11105434.
                    </small>
                </div>

            </div>
        </div>
    </div>
</footer>
