---
layout: layouts/base.njk
section: post
---

{# a post layout #}

<section class="section blog-news">

    <div class="container">
        <div class="wrapper">

            <header>
                <h2 class="heading">{{ title }}</h2>
            </header>

            

            <div class=" col-12 flex flex-wrap items-center">
                <div class="time-date">
                    <p class="author">By {{ site.author.name }}</p>

                    <p class="px1">—</p>

                    <time class="pb2" datetime="{{ date }}">
                        {{ date | dateDisplay }}
                    </time>
                    {% if tags %}

                    {# this will create a comma for multiple category links #}
                    {% set comma = joiner() %}

                    <p class="px1">—</p>

                    <p class="category">Posted in

                        {% for item in tags %}

                        {%- if item != "blog" -%}

                        <a href="/category/{{ item }}">{{ comma() }}
                            {{ item | capitalize }}</a>

                        {%- endif -%}

                        {% endfor %}

                    </p>

                    {% endif %}
                </div>

            </div>

        </div>
    </div>




    <div class="page-container">
        <div class="page-wrapper">
            <div class="container">
                <div class="wrapper flex flex-wrap">

                    {# featured post image #}
                    {% if featured_image %}

                    <figure class="col-12 md-col-10 m-auto flex flex-wrap justify-center">

                        <img src="{{ featured_image }}" alt="{{ image_caption }}">

                        {% if image_caption %}

                        <figcaption class="mt4">{{ image_caption }}</figcaption>

                        {% endif %}

                    </figure>

                    {% endif %}

                    <div class="content col-12 pt4">

                        {{ content | safe }}

                        {# category links list #}
                        {% if tags %}
                        <!-- 
                                <ul class="tags flex pt4">

                                    {% for item in tags %}

                                        {%- if item != "blog" -%}

                                            <li class="tag mr2">
                                                <a class="px3 py2" href="/category/{{ item }}">{{ item | capitalize }}</a>
                                            </li>

                                        {%- endif -%}

                                    {% endfor %}

                                </ul> -->

                        {% endif %}



                        <div class="container">
                            <div class="wrapper">
                                <div class="pagination col-12 flex justify-between pt4">
                                    {% if prevPost %}
                                    <p class="col-4">
                                        <span>Previous: </span>
                                        <a href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
                                    </p>
                                    {% endif %}
                                    {% if nextPost %}
                                    <p class="col-4">
                                        <span>Next: </span>
                                        <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        


                    </div>
                </div>


            </div>
        </div>

    </div>

</section>